body {
  background-color: firebrick;
}

/***************
MAIN
***************/


/***************
NAV BAR
***************/
nav.navbar {
  background: gray;
}

/***************
MAIN SECTION
***************/


/***************
MENUS
***************/


/***************
FOOTER
***************/
