body {
  background-color: firebrick;
}

/***************
MAIN
***************/


/***************
NAV BAR
***************/


/***************
MAIN SECTION
***************/


/***************
MENUS
***************/


/***************
FOOTER
***************/
